@font-face {
  font-family: "playbold";
  src: url("../fonts/main-font.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  --bg-color: rgb(33, 179, 94);
  --text-color: #fff;
  --play-zone-bg-color: #fff;
  --play-button-border-color: rgb(37, 245, 123);
  --play-button-selection-color: rgb(0, 140, 255);
  --play-button-bg-color: rgb(26, 218, 176);
  --play-button-visited-color: rgb(44, 196, 216);

  
  --play-button-active-color: rgb(255, 153, 0);

  margin: 0px;
  font-family: "playbold";
  text-align: center;
}
.quiz-area {
  visibility: hidden;
  height: 0px;
}
.warning {
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
}

@media screen and (min-width: 660px) and (min-height: 320px) {
  .quiz-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    width: auto;
    height: 100vh;
    background-color: var(--bg-color);
  }
  .quiz-area .title {
    color: var(--text-color);
  }
  .answers5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .quiz-area .quiz-question {
    max-height: 850px;
    width: 85vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .quiz-table {
    max-height: 850px;
    width: 85vw;
    height: 80vh;
  }
  .quiz-area .quiz {
    max-height: 850px;
    width: 85vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--play-zone-bg-color);
    border-radius: 25px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--play-button-border-color);
    padding: 0px;
    box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.603);
  }
  .quiz-area .quiz .quiz-table {
    width: 100%;
    height: 100%;
    padding: 2vh;
  }
  .answer-text {
    margin: 0vh 10vh 0vh 10vh;
    font-size: 3.3vh;
  }
  h1 {
    font-size: 3.3vh;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.103);
  }
  h6 {
    font-size: 2vh;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.103);
  }
  .url:hover {
    transition-duration: 400ms;
    color: var(--play-button-selection-color);
    background-color: rgb(0, 0, 0);
    border-color: var(--play-button-selection-color);
  }
  button:active {
    color: var(--play-button-active-color);
  }
  a {
    text-decoration: none;
  }
  button:focus {
    outline: 0;
  }
  .url {
    font-family: "playbold";
    font-size: 2.8vw;
    user-select: none;
    padding: 3vh 2.5vw 3vh 2.5vw;
    color: var(--text-color);
    margin: 0px;
    background-color: var(--play-button-bg-color);
    border-radius: 10px;
    border-width: 4px;
    border-style: dashed;
    border-color: rgba(255, 255, 255, 0.76);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  .url-visited {
    font-family: "playbold";
    font-size: 2.8vw;
    user-select: none;
    padding: 3vh 2.5vw 3vh 2.5vw;
    color: var(--play-button-visited-color);
    margin: 0px;
    background-color: rgb(0, 44, 85);
    border-radius: 10px;
    border-width: 4px;
    border-style: dashed;
    border-color: var(--play-button-visited-color);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  p {
    font-size: 5vh;
  }
  .quiz-title {
    width: 25%;
  }
  .quiz-title h1 {
    font-size: 2vw;
  }
  .question {
    padding: 0vh 1vh 0vh 1vh;
    margin-left: 5%;
    margin-right: 5%;
  }
  .back-button:hover {
    transition-duration: 400ms;
    color: var(--play-button-selection-color);
  }
  .back-button {
    border-radius: 0px;
    padding-top: 20px;
    margin: 0px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: var(--play-button-visited-color);
  }
  .back-button h6 {
    margin: 0px 0px 0px 0px;
  }
  .answer-button {
    margin: 1vh;
  }
  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .answers1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .answer-box {
    font-family: "playbold";
    user-select: none;
    font-size: 3vh;
    height: 100%;
    width: 100%;
    padding: 2vh;
    color: #fff;
    margin: 0px;
    background-color: var(--play-button-bg-color);
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.322);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  .answer-box:hover {
    transition-duration: 400ms;
    color: rgb(32, 73, 70);
    background-color: rgb(185, 255, 94);
    border-color: rgb(32, 73, 70);
  }
  .answer-box[data="correct"] {
    transition-duration: 400ms;
    color: rgb(6, 85, 48);
    background-color: rgb(94, 255, 107);
    border-color: rgb(6, 85, 48);
  }
  .answer-box[data="incorrect"] {
    transition-duration: 400ms;
    color: rgb(255, 255, 255);
    background-color: rgb(253, 83, 91);
    border-color: rgb(158, 31, 31);
  }
  .warning {
    visibility: hidden;
    height: 0px;
    padding: 0px;
    margin: 0px;
  }
  .text {
    visibility: hidden;
    height: 0px;
    padding: 0px;
    margin: 0px;
  }
  .quiz-area {
    visibility: visible;
  }
}
